*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.aboutsection{
    background: url(Assets/AboutBackGround.jpg) no-repeat left;
    background-size: 55%;
    margin-top: 1%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.innercontainer{
    width: 60%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}   
.innercontainer h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-weight: 1000;
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.BackToHomePage{
    
   text-decoration: none;
   text-align: center;
   font-weight: 1000;
   font-size: 20px; 
}
@media screen and (max-width:1200px){
    .innercontainer{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .aboutsection{
        background-size: 100%;
        padding: 100px 40px;
    }
    .innercontainer{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .aboutsection{
        padding: 0;
    }
    .innercontainer{
        padding: 0;
    }
}