body{
    background-image:url(LoginBackground.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: var(--myfont);
   display: flex;
   align-items: center;
   justify-content:center;
   min-height:100vh;
   width:100vw;
   }

/* Hiding the x ScrollBar */

body {
    overflow-x: hidden;
}


/* Scroll-Bar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgb(155, 147, 147);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

:root{
    --lg-lightcolor:linear-gradient(to left, rgba(116,235,213,0.6),rbga(159,172,230,0.6));
    --lg-color:linear-gradient(to left, #74ebd5, #9face6);
}
 .container{
        background-color: #fff;
        border-radius: 10px;
        /* -webkit-border-radius: 10px; */
        /* box-shadow:0 2.8px 2.2px rgba(0,0,0,0.034),0 6.7px 5.3px rgba(0,0,0,0.048),0 12.5px; */
        overflow: hidden;
        width: calc(100vw - 65vw);
        max-width:100%;
    }
    .header{
        background: var(--lg-color);
        padding: 30px 0;
    }
    .header h2{
        color: #222;
        font-family: var(--my-btn-font);
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
    }

    .form-control{
        margin-bottom: 25px;
        position:relative;
        padding: 10px;
    }
    .form-control label{
        display: inline-block;
        margin-bottom:5px;

    }
    .form-control input{
         width:95%;
        border:2px solid #f0f0f0;
        border-radius: 5px;
        display:block;
        font-size: 14px;
        padding: 10px;
    }
    .form-control input:focus{
        outline: 0;
        border-color: #777;
    }

     .btn{
        background: var(--lg-color);
        border-radius: 6px;
        border: none;
        outline: none;
        color:#fff;
        display:block;
        font-family: var(--my-btn-font);
        font-size: 16px;
        padding:15px 0;
        margin-top:20px;
        width:100%;
        font-weight: bold;
        text-transform: uppercase;
        transition: all ease;
        
    }
 .btn:hover{
        background: linear-gradient(to right, #74ebd5, #9face6);
    }

    @media(max-width:998px)
    {
        .container {
            width:calc(100vw - 35vw);
            max-width:100%;
        }
    }