/* CustomFont */
@font-face {
    font-family: RobotoBold;
    src: url("Font/Roboto-Bold.ttf")
    format("TrueType");
}
/* Background */
 .Image {
    height: 160vh; 
    background-position: center;
    background-image: url("Assets/PokemonBackGround.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* opacity: ; */
    margin: -2% -2% -2% -2%;
    
} 

/* Navigation Bar */
/* *{
    list-style: none;
    text-decoration: none;
    margin: 0% 0% 0% 2%;
    padding: 0;
    /* box-sizing: border-box; 
    background-color: lavender;
}*/
.navbar{
 
    position: fixed;
    margin-top: 1%;

}
 .inner_navbar{
    width: 100%;
    height: 50%;
}
 .menu ul{
    display: flex;
    list-style: none;
    
    
}
.menu ul li{
    width: 25%;
}
 .menu ul li a{
    font-family: "RobotoBold";
    text-decoration: none;
    display: block;
    margin: auto;
    text-align:center;
    font-size: 25px;
    text-transform: uppercase;
    color: #f89627;
    padding: 10px;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}
 .menu ul li:last-child a{
    margin-right: 0;
}
.navbar .menu ul li a:hover,
.navbar .menu ul li a.Active{
    background: #f8f0e3;
}
.text-center {
    text-align: center;
}

body {
    overflow-x: hidden;
}

/* Scroll-Bar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgb(155, 147, 147);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}



.background{
    width: 100%;
    position: fixed;
    background-color:  #4e3d69;
    background-size: cover;
   background-position: center center;
   width: 100vw;
    padding: 10px;
    z-index: 10;
  
}
/* Asia Pokemon Championship 2021 Text */
.TextBlock {
    padding-top: 10%;
    text-align: center;
    font-size: 5em;  
    max-width: 100vw;
}


.innercontainer{
    width: 80%;
    margin: auto;
    position: relative;
}
.image_bb{
    width: 100%;
}
.innercontainer h1{
    margin-bottom: 30px;
    font-weight: 100;
    padding-right: 100px;
   
}
.text{
     font-size: 20px;
    color: #FFF;
     line-height: 40px; 
    /* text-align: center; */
    left: 50px;
    width: 45%;
    position: absolute;
    top: 40px;
 
}

/* About */
.about{
 
    padding-right: 2%;
    padding-left: 2%;
    font-family: palatino, sans-serif;
    margin: auto;
    text-align: justify;
    color: #333;
    line-height: 30px;
    font-weight: 100;
    font-size: 1.5rem;
    background-color: transparent;

}
@media only screen and (max-width: 1100px)
{
   
    .innercontainer{
        padding: 10px;
        background-color: #496363;
    }
    .image_bb{
        display: none;

    }
    .text{
        position: static;
        width: 100%;
    }
}




@media only screen and (max-width: 992px)
{
    .navbar{
        height: 100px;
        padding: 12px;
    }
    .navbar .inner_navbar{
        flex-direction: column;
    }
    
}

